
.main-nav-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 1% 0;
    height: 85px;
    background-color: #8FBC8F;
}

  .plant-logo {
      width: 350px; 
  }

  .main-logo-container {
    float: left;
  }
  
  .main-nav {
    float: right;
    padding-top: 10px; 
  }

/* Style the links inside the navigation bar */
.main-nav a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  @media only screen and (max-width: 600px) {
    .main-logo-container {float: none;}
    .plant-logo{
      position: relative;
      left: 10%;
    }
    .main-nav {float: none;}
    .main-nav-container {position: none;}
  }
  
  @media only screen and (max-width: 414px) {
    .main-nav-container {
      padding: 0;
      height: auto;
  }
  
    }