.App {
  text-align: center;
}




p {
  margin: 0 auto;
  max-width: 650px;
}

p + p {
  margin-top: 15px;
}


.app-background {
  background: url('https://i.imgur.com/5jqecQC.png');
  background-repeat: no-repeat;
  background-size: cover;
}