
p {
  margin: 0 auto;
  max-width: 650px;
}

p + p {
  margin-top: 15px;
}

.app-background {
  background: url('https://i.imgur.com/GAbmsYj.png');
  background-repeat: repeat;
  background-size: cover;
  height: 100%;
}



